    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stock photo</title>

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom fonts for this template -->
    <!-- <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/grayscale.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/image-list-small.css">
     <link rel="stylesheet" href="/css/dataset.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="/js/capture.js"></script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/">Smart Maintenance</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fa fa-bars"></i>
  </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    {%if session['admin'] == 1 %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/dataset">Nuovo Volto</a>
                    </li>
                    {%endif%}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/camera">Camera</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                    </li>
                    {%if session['loggato'] == 1 %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/profilo">Gestione Utente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login">Login</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>
    </nav>

    
               <div class="contentarea">
        <div class="camera">
            <video id="video" onload="printLayout()" style="max-width:-webkit-fill-available ;margin: auto;display: block;">Video stream not available.</video>
            <div id="video_overlays" hidden>
                <img id="over" src="/images/overlay/overlay1.png" />
            </div>
            <a href="#" class="photoB" id="take-photo" title="Take Photo">
                <i class="material-icons">camera_alt</i></a>
        </div>
        <div class="row" style="margin: auto;display: table;">
    <div class="col-xs-6 previous">
        <a id="next" class="push_button disabled" style="cursor: pointer;" >Prosegui</a>
    </div>
    <div class="col-xs-6 next">
        <a id="delete" class="push_button disabled" style="cursor: pointer;">Elimina Foto Precedente</a>
    </div>
    </div>


    </div>
   <div class="notification "></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js "></script>
    <script src="/js/md5.js "></script>
    <script src="/js/admin.js "></script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js "></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>

    <!-- Custom scripts for this template -->
    <script src="/js/grayscale.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9 "></script>


</body>

</html>