<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="face-api.js"></script>
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="js/commons.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="js/facecam.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="nunjucks.min.js"></script>
</head>

<body>
    <div class="center-content page-container">
        <div class="progress" id="loader">
            <div class="indeterminate"></div>
        </div>
        <div style="position: relative" class="margin">
            <video id="inputVideo" onplay="onPlay(this)" autoplay muted></video>
            <canvas id="overlay" />

            <img id="my-screenshot" />

        </div>
        <div class="row side-by-side">
            <div class="row">
                <label for="minFaceSize">Minimum Face Size:</label>
                <input disabled value="200" id="minFaceSize" type="text" class="bold">
            </div>
            <button class="waves-effect waves-light btn" onclick="onDecreaseMinFaceSize()">
        <i class="material-icons left">-</i>
      </button>
            <button class="waves-effect waves-light btn" onclick="onIncreaseMinFaceSize()">
        <i class="material-icons left">+</i>
      </button>
        </div>
        <div id="output"></div>
    </div>

    <script>
    </script>
</body>

</html>